

/* Background page color*/

body {
     background-color: #f9faec;
     margin: 0;
}

/* Header */
.header-photo {
    background-image: url("./images/get-inspired-image-lg.png");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.logo1 {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 10%;
    color: #D757F6;

    font-family: 'Rock Salt', cursive;
    -webkit-text-stroke: 0.2px white;
    line-height: 100%;
    font-size: x-large;
}

@media only screen and (max-width: 1000px) {
    .logo1 {
        left: 20%;
    }
}

/* Nav bar Buttons
*/

nav {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 600px) {
    button {
      float: left
    }
  }


button {
    background-color: white;
    color: #75A9F9;
    width: 25%;
    border: 2px solid #75A9F9;
    font-family: 'Open Sans', sans-serif;
    border-radius: 12px;
    font-size: 15px;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
}


button:hover {
    background-color: #c9d1d7;
}



/* Gid display */

.grid {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    padding: 10px;
    column-gap: 80px;
    row-gap: 80px;
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.grid-item {
    height: 200px;
}

.grid-item:hover .centered-image {
    opacity: 0.3;
  }


main {
    width:95%;
    margin-left: auto;
    margin-right: auto;
}
.centered-image {
    margin: auto;
    width: 60%;
}

.grid-background-black {
    background-color: black;
}

.grid-background-navy {
    background-color: #131b3b;
}

.grid-background-white {
    background-color: white;
}

/*footer*/

footer {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #D757F6;
    font-size: 20px;
}

